[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-decouple = "*"
pillow = "*"
django-storages = "*"
dropbox = "*"
whitenoise = "*"
django-taggit = "*"
django-taggit-serializer = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
